@{
    ViewData["Title"] = "Bienvenido a Pokémon";
    Layout = "_Layout";
}

<section class="start-hero">
    <div class="start-card">
        <div class="start-copy">
            <h1 class="start-title">Bienvenido al Mundo Pokémon</h1>
            <p class="start-sub">Explora, filtra y conoce a tus Pokémon favoritos con datos en tiempo real desde la PokéAPI.</p>
            <div class="start-actions">
                <a href="/Pokemon/Index" class="btn btn-neo btn-neo-red btn-lg">Comenzar</a>
            </div>
        </div>
        <figure class="start-figure">
            <img src="~/images/pikachu.png" alt="Pikachu">
        </figure>
    </div>
</section>


