<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pokémon</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Estilos -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Favicon  -->
    <link rel="icon" href="~/images/pokeball.png" type="image/svg+xml" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap" rel="stylesheet">

</head>

<body class="pokemon-theme">
    <header>
       <nav class="navbar navbar-expand-lg poke-nav">
          <div class="container">
            <a class="navbar-brand poke-brand" asp-controller="Pokemon" asp-action="Index">
              <img src="~/images/logo.png" alt="Pokémon Logo" />
            </a>
          </div>
        </nav>
    </header>


    <!-- Contenido principal -->
    <div class="container py-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="text-center text-muted small py-3 border-top mt-2">
        © @DateTime.Now.Year - Pokémon App
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
